.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products-container {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}

.cart-container {
  background: rgba(255, 153, 0, 0.3);
  padding: 0 15px;
}

.cart-container h4 {
  margin-bottom: 50px;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #1c2b35;
}

.cart-container h6 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  color: #0e161a;
}

.cart-container p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #2a414f;
}

.btn-clear-cart {
}

.btn-review-order {
}
