.cart {
  background: rgba(255, 153, 0, 0.3);
  padding: 0 15px;
  position: sticky;
  top: 0;
  height: 100vh;
}

.cart h4 {
  margin-top: 0px;
  padding-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #1c2b35;
}

.cart h6 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  color: #0e161a;
}

.cart p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #2a414f;
}

.btn-clear-cart {
  color: white;
  font-weight: 600;
  background: #ff3030;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 13px;
  display: flex;
  justify-content: space-between;
}
.btn-clear-cart:hover {
  background-color: #f22b2b;
}

.btn-review-order {
  color: white;
  font-weight: 600;
  background: #ff9900;
  border-radius: 4px;
  padding: 13px;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
