.header {
  position: relative;
  height: 80px;
  background-color: #1c2b35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

nav.header a {
  text-decoration: none;
  color: white;
  padding-left: 30px;
}
nav.header a:hover {
  color: orange;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: end;
}

.profile-name {
  color: white;
  padding-left: 30px;
}
.logout-btn {
  padding: 7px 15px;
  width: fit-content;
  border: 0;
  margin-left: 10px;
  border-radius: 8px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -40%);
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #ffb356; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
